# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# ENVIRONMENT VARIABLES
# =========================
.env

# =========================
# BUILD FOLDERS
# =========================
dist/
build/
www/

# =========================
# ANGULAR / IONIC
# =========================
.angular/
.sass-cache/

# =========================
# CAPACITOR / MOBILE
# =========================
android/build/
android/.gradle/
ios/Pods/

# =========================
# LOGS
# =========================
logs/
*.log
npm-debug.log*

# =========================
# COVERAGE
# =========================
coverage/

# =========================
# TEMP FILES
# =========================
tmp/
temp/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCS GITHUB
# =========================
/docs/