<ion-content [fullscreen]="true" class="login-content">
  <div class="login-bg"></div>

  <div class="login-container">
    <!-- BRAND -->
    <div class="brand-section">
      <img
        class="logo"
        src="assets/logo/logo_ferreteria.png"
        alt="Ferretería July"
      />
    </div>

    <!-- LOGIN CARD -->
    <ion-card class="login-card">
      <ion-card-content>
        <div class="header">
          <h2>Iniciar sesión</h2>
          <p>Acceso autorizado al sistema</p>
        </div>

        <form [formGroup]="form" (ngSubmit)="submitLogin()" class="form">
          <!-- USER -->
          <ion-item class="input_user" lines="none">
            <ion-label position="stacked">Usuario o correo</ion-label>

            <ion-input
              formControlName="identifier"
              type="text"
              placeholder="usuario@correo.com"
            ></ion-input>
          </ion-item>

          <!-- PASSWORD -->
          <ion-item class="input_pass" lines="none">
            <ion-label position="stacked">Contraseña</ion-label>

            <ion-input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="••••••••"
            ></ion-input>

            <!-- TOGGLE PASSWORD -->
            <ion-button
              fill="clear"
              slot="end"
              type="button"
              class="toggle-password"
              (click)="togglePassword()"
            >
              <ion-icon
                class="eye-icon"
                [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              ></ion-icon>
            </ion-button>
          </ion-item>

          <!-- OPTIONS (FUERA DEL INPUT) -->
          <div class="options">
            <ion-item lines="none" class="remember">
              <ion-checkbox formControlName="remember"></ion-checkbox>
              <ion-label>Recordarme</ion-label>
            </ion-item>
          </div>

          <!-- ERROR -->
          <ion-text color="danger" *ngIf="apiError">
            <p class="error">{{ apiError }}</p>
          </ion-text>

          <!-- BUTTON -->
          <ion-button
            expand="block"
            type="submit"
            class="btn-primary"
            [disabled]="submitting"
          >
            <ion-spinner *ngIf="submitting"></ion-spinner>
            <span *ngIf="!submitting">Iniciar sesión</span>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
