<ion-content>
  <ion-list id="menu-list">
    <ion-list-header>Ferretería July</ion-list-header>
    <ion-note>Sistema interno</ion-note>

    <ion-menu-toggle auto-hide="false" *ngFor="let item of items">
      <ion-item
        [routerLink]="item.path"
        routerDirection="root"
        lines="none"
        detail="false"
        routerLinkActive="active-menu-item"
        (click)="onNavigate()">
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        <ion-label>{{ item.label }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
