@use "./theme/legacy/login.page.scss";
@use "./theme/legacy/dashboard.page.scss";
@use "./theme/legacy/productos.page.scss";
@use "./theme/legacy/reportes.page.scss";
@use "./theme/legacy/ventas.page.scss";
@use "./theme/legacy/usuarios.page.scss";
@use "./theme/legacy/inventario.page.scss";
@use "./theme/legacy/header.component.scss";
@use "./theme/legacy/profile-modal.component.scss";
@use "./theme/legacy/notifications-modal.component.scss";
@use "./theme/legacy/chatbot.component.scss";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* =======================================================
   FORCE LIGHT MODE
======================================================= */

:root {
  color-scheme: light;

  --ion-background-color: #f4f7ff;
  --ion-text-color: #000000;

  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;
  --ion-toolbar-background: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;

  background: #f4f7ff !important;
  color: #000 !important;
}

ion-app,
ion-content,
ion-page {
  --background: #f4f7ff !important;

  background: #f4f7ff !important;
  color: #000 !important;
}
